<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="http://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous">
  </script>
</head>
<body>
  <div>
    <h1>처방전</h1>
    <form id="position">
      <button type="submit">예약명단조회</button>
      <input type="text" name="name" placeholder="Your Name" />
      <input type="text" name="name" placeholder="Your Name" />
      <input type="text" name="name" placeholder="Your Name" />
      <input type="text" name="name" placeholder="Your Name" />
      <input type="text" name="name" placeholder="Your Name" />
      <input type="text" name="name" placeholder="Your Name" />
            
    </form>
  </div>
  <div id="map" style="width:500px;height:400px;"></div>
</body>
</html>