<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            병원관리자
        </title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script>
            // 예약 조회
            $(document).ready(function () {
                $("#reservation").submit((e) => {
                    e.preventDefault()
                    console.log("예약 조회")
                    var cookies = document.cookie.split(";")
                    tmp = cookies[2].split("@")
                    local = tmp[0].substring(1)
                    console.log(local)
                    domain = tmp[1]
                    let reservation_info = {
                        'name': e.target.name.value,
                        'phone_number': e.target.phone_number.value,
                        'date': e.target.date.value,
                        'local': local,
                        'domain': domain
                    }
                    $.ajax({
                        type: "POST",
                        url: "/reservation_list",
                        cache: false,
                        data: JSON.stringify(reservation_info),
                        contentType: "application/json",
                        success: res => {
                            if(res == []) alert("예약x")
                            favorite_list = JSON.parse(res)
                            console.log(favorite_list)
                            let tBodyHtml = ''
                            for(let row of favorite_list){
                                tBodyHtml += `<tr>
                                    <td>${row[0]}</td>
                                    <td>${row[1]}</td>
                                    <td>${row[2]}</td>
                                </tr>`
                            }
                            $('#reservation_list tbody').html(tBodyHtml)
                        }
                    })
                })
            })
        </script>
    </head>
    <body>
        <!--
            현재예약자: 예약자이름, 전화번호, 예약시간
            처방하기
            환자정보와처방기록(이름, 번호, )
        -->
        <h2>병원관리자 화면</h2>
        <button id="description" type="button">처방하기</button>
        <form id="reservation" method="POST">
            <input type="text" name="name" placeholder="Patient Name"/>
            <input type="number" name="phone_number" placeholder="010XXXXXXXX"/>
            <input type="text" name="date" placeholder="YYYY-MM-DD"/>
            <button type="submit">예약자 조회</button>
        </form>
        <form id="reservation" method="POST">
            <input type="number" name="phone_number" placeholder="010XXXXXXXX"/>
            <button type="submit">예약 취소</button>
        </form>
            
        <h3>예약 목록</h3>
        <table id="reservation_list">
            <thead>
                <tr>
                    <th>[예약자 이름]</th>
                    <th>[전화번호]</th>
                    <th>[날짜]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- 
            # 발급 년월일 번호
            # 환자 이름
            # 병원 이름
            # 처방의약품의 명칭, 1회투약량, 1일 투여횟수, 총투약일수
        -->
        <h3>처방 기록</h3>
        <table id="description_list">
            <thead>
                <tr>
                    <th>[번호]</th>
                    <th>[발급 년월일]</th>
                    <th>[환자이름]</th>
                    <th>[의약품 명칭]</th>
                    <th>[1회 투약량]</th>
                    <th>[1회 투여 횟수]</th>
                    <th>[1회 총 투약일 수]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>