<!DOCTYPE html>
<html lang="en">
<!-- 카카오 맵 띄우는 html -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous">
  </script>
</head>
<body>
  <div>
    <h1>종합병원관리 시스템</h1>
    <form id="position">
      <button type="submit">예약명단조회</button>
      <button id="here" type="button">예약명단조회</button>
      <button id="here" type="button">처방하기</button>
      <button id="here" type="button">처방기록조회</button>
    </form>
  </div>
  <div id="map" style="width:500px;height:400px;"></div>
</body>
</html>