<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            약국 관리자
        </title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script>
            // 예약 조회
            $(document).ready(function () {
                tmp = ""
                local = ""
                domain = ""
                var cookies = document.cookie.split(";")
                console.log(cookies)
                if (cookies[0].substring(0, 1) == "P"){
                    tmp = cookies[2].split("@")
                    local = tmp[0].substring(1, tmp[0].length)
                    domain = tmp[1]
                } else{
                    tmp = cookies[0].split("@")
                    local = tmp[0]
                    domain = tmp[1]
                }
                
                // reservaiton_list : button id
                $("#reservation_list").submit((e) => {
                    e.preventDefault()
                    console.log("예약 조회")
                    let pharmacy_info = {
                        'local': local,
                        'domain': domain,
                    }
                    $.ajax({
                        type: "POST",
                        url: "/reservation_list",   // 서버의 url
                        cache: false,
                        data: JSON.stringify(pharmacy_info), // json형식으로 변환
                        contentType: "application/json",
                        success: res => {
                            console.log(res)
                            if(res == []) alert("예약x")
                            search_result = JSON.parse(res) // 서버에서 return한 것을 json으로 변환
                            console.log(search_result)
                            let tBodyHtml = ''                 
                            for(let row of search_result){
                                tBodyHtml += `<tr>
                                    <td>${row[0]}</td>
                                    <td>${row[1]}</td>
                                    <td>${row[2]}</td>
                                    <td>${row[3]}</td>
                                </tr>`
                            }
                            // reservation_table: table id
                            $('#reservation_table tbody').html(tBodyHtml)
                        }
                    })
                })

                $("#set_impossible").submit((e) => {
                    console.log("처방 불가하기")
                    e.preventDefault()
                    let serial_number = {
                        'serial_number': e.target.serial.value,
                    }
                    $.ajax({
                        type: "POST",
                        url: "/set_pharmacy_status",
                        cache: false,
                        data: JSON.stringify(serial_number),
                        contentType: "application/json",
                        success: res => {
                            console.log(res)
                            if (res == "ok") alert("처방 불가 설정")
                            
                        }
                    })
                })

                $("#search_description").submit((e) => {
                    console.log("처방검색")
                    e.preventDefault()
                    let patient_info = {
                        'local': local,
                        'domain': domain,
                        'serial_number': e.target.serial_number.value,
                        'patient_name': e.target.patient_name.value,
                        "date": e.target.date.value
                    }
                    $.ajax({
                        type: "POST",
                        url: "/pharmacy_search_description",
                        cache: false,
                        data: JSON.stringify(patient_info),
                        contentType: "application/json",
                        success: res => {
                            if(res == []) alert("처방내역x")
                            search_result = JSON.parse(res)
                            console.log(search_result)
                            let tBodyHtml = ''
                            for(let row of search_result){
                                tBodyHtml += `<tr>
                                    <td>${row[0]}</td>
                                    <td>${row[1]}</td>
                                    <td>${row[2]}</td>
                                    <td>${row[3]}</td>
                                    <td>${row[4]}</td>
                                    <td>${row[5]}</td>
                                    <td>${row[6]}</td>
                                    <td>${row[7]}</td>
                                    <td>${row[8]}</td>
                                    <td>${row[9]}</td>
                                    <td>${row[10]}</td>
                                </tr>`
                            }
                            $('#description_record tbody').html(tBodyHtml)
                        }
                    })
                })

                $("#visited_record").click((e) => {
                    console.log("처방기록")
                    e.preventDefault()
                    let hospital_info = {
                        'local': local,
                        'domain': domain,
                    }
                    $.ajax({
                        type: "POST",
                        url: "/visit_record",
                        cache: false,
                        data: JSON.stringify(hospital_info),
                        contentType: "application/json",
                        success: res => {
                            search_result = JSON.parse(res)
                            console.log(search_result)
                            let tBodyHtml = ''
                            for(let row of search_result){
                                tBodyHtml += `<tr>
                                    <td>${row[0]}</td>
                                    <td>${row[1]}</td>
                                </tr>`
                            }
                            $('#visited_table tbody').html(tBodyHtml)
                        }
                    })
                })
            })
        </script>
    </head>
    <body> 
        <form method="POST" action="/login">
            <button type="submit">로그인 화면</button>
        </form>
        <h2>약국관리자 화면</h2>
        <h3>예약 목록</h3>
        <form id="reservation_list" method="POST">
            <button type="submit">예약자 조회</button>
        </form>
        <table id="reservation_table">
            <thead>
                <tr>
                    <th>[예약 번호]</th>
                    <th>[예약자 이름]</th>
                    <th>[전화번호]</th>
                    <th>[날짜]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </br>
        <h3>처방전 조회</h3>
        <form id="search_description" method="POST">
            <button type="submit">처방조회</button></br>
            <input type="text" name="serial_number" placeholder="Serial Number"/>
            <input type="patient_name" name="patient_name" placeholder="Patient name"/>
            <input type="text" name="date" placeholder="YYYY-MM-DD-HH-MM"/>
        </form>
        <table id="description_record">
            <thead>
                <tr>
                    <th>[번호]</th>
                    <th>[발급 연월일]</th>
                    <th>[환자 이름]</th>
                    <th>[병원 이름]</th>
                    <th>[의약품 명칭]</th>
                    <th>[1회 투약량]</th>
                    <th>[1회 투여 횟수]</th>
                    <th>[1회 총 투약일 수]</th>
                    <th>[제조 기관의 이름]</th>
                    <th>[제조 연월일]</th>
                    <th>[제조 내용]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h3>처방가능 여부 선택</h3>
        <form method="POST" action="/pharmacy_description">
            <button id="possible" type="submit">처방 가능</button></br>
        </form>
        <form id="set_impossible" method="POST">
            <input type="number" name="serial" placeholder="Serial Number"/>
            <button type="submit">처방 불가능</button></br>
        </form>

        </br>
        <h3>환자 방문 기록</h3>
        <!-- <form id="visited_record" method="POST"> -->
        <button id="visited_record" type="submit">조회</button>
        <!-- </form> -->
        <table id="visited_table">
            <thead>
                <tr>
                    <th>[이름]</th>
                    <th>[날짜]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>