<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            Sign-up
        </title>
    </head>
    <body>
        <h1>회원가입</h1>
        <form id="sign-in" method="POST" action="/after-set-type">
            본인확인을 위해 다시 Email을 입력해주세요</br>
            <input type="email" name="email" placeholder="email"/></br>
            <input type="password" name="password" placeholder="password"/></br>
            type(1: patient, 2: hospital officer, 3: store's owner)을 입력해주세요</br>
            <input type="text" name="type" placeholder="1 or 2 or 3"/></br>
            <button type="submit">설정완료</button>  
        </form>
    </body>
</html>