<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            Login
        </title>
        <!-- ajax를 쓰기 위하여 jquery를 추가 -->
        <script src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
    </head>
    <body>
        <h1>DR. HYU</h1>
        <!-- <form id="sign-in">  -->
        <form id="sign-in" method="POST" action="/sign-in">
            <input type="text" name="email" placeholder="email"/></br>
            <input type="text" name="password" placeholder="password"/></br>
            <button type="submit">로그인</button>
        </form>
        <form id="sign-up" action="/sign-up"> 
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>
<!-- 
<script>
    function check_customer(){
        console.log("!")
        $("#sign-in").on("submit", function(e) {
            console.log("!")
            let login_Data = {
                "email": e.target.email.value,
                "password": e.target.password.value
            }
            console.log(login_Data)
            $.ajax({
                type: "POST",
                url: "/sign-in",
                cache: false,
                data: JSON.stringify(login_Data),
                contentType: "application/json",
                success: res => {
                    console.log("login result: ")
                    console.log(res)
                    if (res == []) {
                        alert("회원정보가 없습니다. 회원가입을 해주세요.")
                        
                        console.log("not customerrr")
                        return false;
                    } else if (res == "select type") {
                        console.log("select")
                        return false;
                    } else {
                        return true
                        // action="/sign-in"
                    }
                }
            })
        
        })
    }
</script> -->